body{
    background-image: url(emojis/emoji1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
/* .{
 background: white;   
 width: 50%;
 padding: 40px;
 margin: 100px auto;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
p{
    font-size: 35px;
    color: black;
}
